@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&family=Poppins:ital,wght@0,200;1,400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  background-color: #090909;
  width: 100%;
  padding: 1rem;
}

body .wrapper{
  /* position: sticky; */
  /* top: 0px; */
}

.wrapper {
  /* padding: 10px; */
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(155, 14, 14);
  padding: 1rem 1.5rem;
  border-radius: 0.4rem;

}
nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  /* font-size: 1.5rem; */
}
nav ul li:hover{
    text-decoration: underline white;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}
nav img{
    width: 6%;
    height: 8vh;
    /* border: 2px solid white; */
}
nav #toggle,
nav label {
  display: none;
}


.production{
    width: 100%;
    text-align: center;
}
.production video{
    width:70%; 
    height:50vh;
    border-radius: 8px;
    margin: 30px 30px;
}
.production p{
    margin: 30px 60px;
    font-size: 1rem;
    color: white;
}

/* <team> */

.team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 75vh;
    margin: 35px auto;
    padding: 10px auto;
    background-color: #eb0d0d;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team h1{
    color: white;
    padding: 20px 0;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}
.team p{
    padding: 20px 0;
    color: white;
    text-align: center;
    margin: 10px 30px;
    text-transform: capitalize;
}
.team img{
    width: 70%;
    height: 70%;
}

/* <about> */

.About{
    width: 100%;
    text-align: center;
    padding: 30px 0;
  }
  .About img{
    width: 50%;
    height: 50vh;
    background-color: #eb0d0d;
  }
  .About img:hover{
    border: 2px solid white;
  }
  .About h3{
    color: blue;
    text-align: center;
    padding: 20px 0px;
    font-size: 2rem;
  }
  .About h3:hover{
    text-decoration: underline white;
  }
  .About h3 span{
    color: red;
  }
  .About p{
    text-align: center;
    color: white;
    font-size: 1rem;
    padding: 20px;
  }

  /* <Services> */


  .Services{
    width: 100%;
    text-align: center;
  }
  .Services h1{
    color: white;
    margin: 20px 0;
    font-family: 'Playfair Display', serif;
    text-decoration: underline;
  }
  .Services h3{
    margin: 20px 0;
    color: white;
  }
  .Services img{
    width: 40%;
    height: 40vh;
  }
  .Services h2{
    color: white;
    margin: 20px 0;
    font-family: 'Playfair Display', serif;
    text-decoration: underline;
  }
  .Services p{
    color: white;
  }
  
  .one{
    width: 100%;
    text-align: center;
    color: white;
  }
  
  .one img{
    width: 40%;
    height: 40vh; 
    margin: 20px 0;
  }
  
  .one h2{
    margin: 20px auto;
    font-family: 'Playfair Display', serif;
    text-decoration: underline;
  }
  
  .two{
    width: 100%;
    text-align: center;
    color: white;
  }
  
  .two img{
    width: 40%;
    height: 40vh; 
    margin: 20px 0;
  }
  
  .two h2{
    margin: 20px auto;
    font-family: 'Playfair Display', serif;
    text-decoration: underline;
  }
  
  .three{
    width: 100%;
    text-align: center;
    color: white;
    margin: 20px auto;
  }
  
  .three img{
    width: 40%;
    height: 40vh;
    border: 2px solid white;
    margin: 20px auto;
  }
  
  .three h2{
    margin: 20px auto;
    font-family: 'Playfair Display', serif;
    text-decoration: underline;
  }
  
  .four{
    width: 100%;
    text-align: center;
    color: white;
    margin: 20px auto;
  }
  
  .four img{
    width: 40%;
    height: 40vh; 
    border: 2px solid white;
    margin: 20px auto;
  }
  
  .four h2{
    margin: 20px auto;
    font-family: 'Playfair Display', serif;
    text-decoration: underline;
  }
  
  .five{
    width: 100%;
    text-align: center;
    color: white;
    margin: 20px auto;
  }
  
  .five img{
    width: 40%;
    height: 40vh; 
    border: 2px solid white;
    margin: 20px auto;
  }
  
  .five h2{
    margin: 20px auto;
    font-family: 'Playfair Display', serif;
    text-decoration: underline;
  }
  /* <Testmodel> */

  .Testmodel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 75vh;
    margin: 35px auto;
    padding: 10px auto;
    background-color: #eb0d0d;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
  }
  
  .Testmodel h1{
    font-size: 2rem;
    margin: 20px auto;
    font-family: 'Playfair Display', serif;
    /* text-decoration: underline; */
  }
  .Testmodel p{
    font-size: 1rem;
    margin: 30px 40px;
    text-align: center;
  }
  .Testmodel h2{
    font-size: 2rem;
    margin: 20px auto;
    font-family: 'Playfair Display', serif;
    /* text-decoration: underline; */
  }

  /* <CXontact> */


  .Contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 20px 0;
  }
  .Contact h1{
    font-family: 'Playfair Display', serif;
    padding: 20px 0;
  }
  .Contact iframe{
    border-radius: 20px;
    padding: 20px 0;
    width:500px; 
    height:300px; 
  }
  .Contact h2{
    padding: 20px 0;
  }
  .Contact p{
    text-align: center;
    padding: 10px 20px;
    font-size: 1.5rem;
  }
  .Contact h3{
    padding: 20px 0;
    font-size: 2rem;
  }
  .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .Contact i{
    font-size: 1.5rem;
    margin: 0 10px ;
    padding: 10px;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
  }
  .Contact i:hover{
    background-color: blueviolet;
  }
  
  





@media (max-width: 40.625em) {
nav{
  position: relative;
  display: flex;
  justify-content: end;
}
    nav .menu {
      width: 100%;
      height: 0;
      overflow: hidden;
    }
    nav ul {
      flex-direction: column;
      align-items: center;
    }
    nav img{
      position: absolute;
height: 80px;
width: 90px;
left: 5px;
    }
    nav label {
      display: inline-flex;
      color: white;
      cursor: pointer;
    }
    nav #toggle:checked ~ .menu {
      height: 100%;
    }

    .production p{
      margin: 15px 10px;
      text-align: justify;
    }
    .About p{
      text-align: justify;
      margin: 0px 5px;
    }
    .About img{
        width: 70%;
        height: 40vh;
        background-color: #eb0d0d;
        margin: 20px 0;
      }
      .Services img{
        width: 80%;
      }
      .Testmodel{
        width:90%;
      }
      .Testmodel h1{
        font-size: 1.3rem;
        margin: 20px auto;
        font-family: 'Playfair Display', serif;
      }
      .Testmodel h2{
      font-size: 1.5rem;
      }
      .Testmodel p{
        margin:10px 10px ;
      }
      .Contact iframe{
        width:300px; 
        height: 225px; 
      }
      .Contact p{
        font-size: 1rem;
        padding: 10px 20px;
      }
      .Contact h3{
        padding: 20px 0;
        font-size: 1.5rem;
      }
      .Contact i{
        font-size: 1rem;
        margin: 5px;
      }
}